<a href="https://colab.research.google.com/github/pooja-thalur/511_SimilarityMatching/blob/main/511_ProjectStep2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/sample_data/ProjectStep2.csv')
df.head()

#drop unnecessary columns
cols = ['State Name [District] 2022-23', 'Web Site URL [District] 2022-23','Phone Number [District] 2022-23','Location Address 1 [District] 2022-23']
df = df.drop(cols,axis=1)

#checking for values with na in both rows and columns
df.isna().any(axis=0)
df.isna().any(axis=1)
df.dropna()

#removing unwanted string in the headers
df.columns=df.columns.str.replace('\[District\] 2022-23','')


county_names= df['County Name '].value_counts().index.tolist()

maricopa=[0]* len(df)
pinal=[0]* len(df)
#Transform Country name column by converting it to binary
for i in range (0,len(df)):
  if df.iloc[i]['County Name ']=='Maricopa County':
    maricopa[i]=1
  else:
    pinal[i]=1
#add county names into df
df[county_names[0]] = maricopa
df[county_names[1]] = pinal

# #since County Name is redundant and not necessary drop the column
df.drop('County Name ', axis=1, inplace=True)
df.head()

# #convert the value of Ap Program offered column from Yes and NO to 0,1s
df['AP Program Offered'].value_counts()
# # NO     321
# # YES     33
df['AP Program Offered'].replace('YES', 1, inplace=True)
df['AP Program Offered'].replace('NO', 0, inplace=True)

df['Locale '].value_counts()

# https://nces.ed.gov/programs/edge/docs/locale_classifications.pdf
# 11-City: Large         189
# 21-Suburb: Large        65
# 41-Rural: Fringe        25
# 12-City: Mid-size       20
# 22-Suburb: Mid-size     17
# 42-Rural: Distant       14
# 13-City: Small           8
# 32-Town: Distant         6
# 31-Town: Fringe          5
# 43-Rural: Remote         4
# 33-Town: Remote          1

#converting to nces locale classification code
df['Locale '] = df['Locale '].str[:2]
df['Locale '].value_counts()

for i in df['Locale '].value_counts().index.tolist():
  df['Locale '].replace(i, 'Locale_'+i, inplace=True)
  df['Locale_'+i] = [0]*len(df)

#Since it is Nominal,
#Now convert them into different columns
#iterate over each row and assign their corresponding locale
for i in range(0,len(df['Locale '])):
  df[df['Locale '].iloc[i]].iloc[i]=1

#since locale is not necessary drop the locale column
df.drop('Locale ', axis=1, inplace=True)

#now convert the charter status from string to binary attribute
df['LEA Charter Status '].value_counts()
df['LEA Charter Status '] = df['LEA Charter Status '].apply(lambda x: 0 if 'not' in x else 1)

#now convert the numeric columns to int or float as required
c = {'Male Students ': int,'Female Students ': int,'Total Students, All Grades (Excludes AE) ': int,
     'Total Students, All Grades (Includes AE) ': int,'American Indian/Alaska Native Students ': int,
     'Asian or Asian/Pacific Islander Students ': int,'Hispanic Students ': int,
                'Black or African American Students ':int,'White Students ':int,
     'Nat. Hawaiian or Other Pacific Isl. Students ':int
                }
df = df.astype(c)

#remove duplicates
df.duplicated().sum()
df=df.drop_duplicates()
# df.columns
df

<ipython-input-20-4acec4ae2390>:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns=df.columns.str.replace('\[District\] 2022-23','')
<ipython-input-20-4acec4ae2390>:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['Locale '].iloc[i]].iloc[i]=1

,School Name,Location City,Location ZIP,Latitude,Longitude,LEA Charter Status,"Total Students, All Grades (Excludes AE)","Total Students, All Grades (Includes AE)",Male Students,Female Students,...,Locale_21,Locale_41,Locale_12,Locale_22,Locale_42,Locale_13,Locale_32,Locale_31,Locale_43,Locale_33
0,A+ CHARTER SCHOOLS (1000166),MARICOPA,85138,33.042533,-112.015895,1,268,268,155,113,...,0,0,0,0,0,0,1,0,0,0
1,ACADEMY WITH COMMUNITY PARTNERS INC (79213),MESA,85203,33.423526,-111.793077,1,171,171,89,82,...,0,0,0,0,0,0,0,0,0,0
2,ACCELERATED LEARNING CENTER INC. (4297),PHOENIX,85028,33.582212,-111.992879,0,153,153,72,81,...,0,0,0,0,0,0,0,0,0,0
3,ACCLAIM CHARTER SCHOOL (4325),PHOENIX,85033,33.495776,-112.224385,1,268,268,151,117,...,0,0,0,0,0,0,0,0,0,0
4,AGUA FRIA UNION HIGH SCHOOL DISTRICT (4289),AVONDALE,85323,33.450600,-112.336700,0,9632,9632,4899,4733,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,WEST VALLEY ARTS AND TECHNOLOGY ACADEMY INC. (...,LAVEEN,85339,33.394980,-112.167071,1,247,247,130,117,...,0,0,0,0,0,0,0,0,0,0
350,WEST-MEC - WESTERN MARICOPA EDUCATION CENTER (...,GLENDALE,85305,33.515170,-112.271701,0,292,292,164,128,...,0,0,0,0,0,0,0,0,0,0
351,WESTERN SCHOOL OF SCIENCE AND TECHNOLOGY INC. ...,PHOENIX,85033,33.493699,-112.200226,1,522,522,245,277,...,0,0,0,0,0,0,0,0,0,0
352,WICKENBURG UNIFIED DISTRICT (4236),WICKENBURG,85390,33.968197,-112.728728,0,1298,1298,651,647,...,0,1,0,0,0,0,0,0,0,0
353,WILSON ELEMENTARY DISTRICT (4261),PHOENIX,85008,33.454591,-112.016200,0,1077,1077,532,545,...,0,0,0,0,0,0,0,0,0,0

School Name
Location City
Location ZIP
Latitude
Longitude
LEA Charter Status
Total Students, All Grades (Excludes AE)
Total Students, All Grades (Includes AE)
Male Students
Female Students
American Indian/Alaska Native Students
Asian or Asian/Pacific Islander Students
Hispanic Students
Black or African American Students
White Students
Nat. Hawaiian or Other Pacific Isl. Students
Two or More Races Students
AP Program Offered
Maricopa County
Pinal County
Locale_11
Locale_21
Locale_41
Locale_12
Locale_22
Locale_42
Locale_13
Locale_32
Locale_31
Locale_43
Locale_33